<h2>List of candidates</h2>
<table class="table table-hover table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Attachements</th>
    </tr>
  </thead>
  <tbody *ngFor="let candidate of candidates">
    <tr>
      <td>{{candidate.FirstName}}</td>
      <td>{{candidate.LastName}}</td>
      <td>{{candidate.Birthday}}</td>
      <td *ngFor="let attachement of candidate.Attachments">
        <a href="{{attachement.Path}}">{{attachement.FileName}}</a>
      </td>
    </tr>
  </tbody>
</table>