<h2>List of candidates</h2>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Attachments</th>
    </tr>
  </thead>
  <tbody *ngFor="let candidate of candidates">
    <tr>
      <td>
        <a href="/candidates/{{candidate.Id}}">
        {{candidate.FirstName}} {{candidate.LastName}}
      </a>
      </td>
      <td>{{candidate.Birthday}}</td>
      <td *ngFor="let attachement of candidate.Attachments">
        <th-document-preview 
          [Image]="attachement.PreviewImagePath" 
          [FileName]="attachement.FileName"
          [Path]="attachement.Path">
        </th-document-preview>
      </td>
    </tr>
  </tbody>
</table>