<div class="card">

  <div class="card-header">
    <h4>{{position.Name}}
      <span class="small">
      <a href="#" class="badge badge-info">Applied: {{position.AmountApplied}}</a>
      <a href="#" class="badge badge-danger">Rejected: {{position.AmountRejected}}</a>
      </span>
  </h4>
  </div>
  
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>

      <div class="col-sm">
          <h5 class="card-title">Candidates per application step</h5>
        <ul class="list-group">
          <li *ngFor="let assessmentStat of position.AssessmentStatistics" class="list-group-item d-flex justify-content-between align-items-center">
            {{assessmentStat.AssessmentTypeName}}
            <span class="badge badge-primary">
                {{assessmentStat.Amount}}
            </span>
          </li>

        </ul>
      </div>
      
    </div>
  
    
  </div>
  <div class="card-footer">
      <div class="row">
        <div class="col-sm">
          
        <h5 class="float-right">
        Applications to review:
        <div class="badge badge-primary">
            {{position.AmountForReview}}
        </div>
      </h5>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-primary">Review Candidates</button>
      </div>
    </div>
    </div>
  </div>