<div class="card">

  <div class="card-header">
    <h4>{{position.Name}}
      <span class="small">
      <a href="#" class="badge badge-info">Applied: {{position.AmountApplied}}</a>
      <a href="#" class="badge badge-danger">Rejected: {{position.AmountRejected}}</a>
      </span>
  </h4>
  </div>
  
  <div class="card-body">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>