<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
    
</nav>

<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Reports</a> -->
          </li>
        </ul>
      </nav>
    </ul>
  </nav>

  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>